.feed-input-container {
    height: 50%;
    padding: 0 0 0 10px;
    max-width: 50%;
    margin-left: 20px;
    
}

.feed-input-box {
    border: 0.3px solid #7f7f7f; 
}

.feed-data-container {

    border: 0.3px solid #7f7c7c;
    /* border-top: none; */
    height: 100%;
}

.feed-user-img {
    margin: 0 10px;
}

.input-feed { 
    display: flex;
    padding-top: 20px; 
}

.feed-home{
    padding: 10px;
    text-align: left;
    border-bottom: 0.3px solid #7f7c7c;
}

.feed-input-text {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    outline: none;
    color: #fff;
}

.feed-input-text[type=text]:focus {
    border:none;
}

.feed-tweet {
    font-size: 16px;
    width: 100px;
    padding: 8px;
    border-radius: 50px;
    color: #fff;
    background-color: #1da1f2;
    margin-top: -10px;
    cursor: pointer;
}

.feed-upload {
    margin: 50px 10px 7px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 860px)  {
.feed-data-container, .feed-input-box, .feed-home{
    width: 135%;
    border: none;
   }

   .feed-home {
    text-align: center;
   }

   .feed-input-container {  
    position: relative;
   }

   .feed-tweet {
    position: absolute;
    left: 125%;
   }

   .feed-home {
    font-size: 1.4rem;
   }

   .feed-data-container {
    margin-top: 50px;

   }

   .feed-upload {
    padding-bottom: 20px;
    width: 125%;
    border-bottom: 1px solid #7f7c7c;
   }

}