.feed-input-container {
    height: 100%;
    padding-left: 100%;
}

.feed-input-box {
    border: 0.3px solid #7f7c7c;   
}

.feed-data-container {
    border: 0.3px solid #7f7c7c;
    height: 100%;
}

.feed-user-img {
    margin: 0 10px;
}

.input-feed { 
    display: flex;
    padding-top: 20px; 
}

.feed-home{
    padding: 10px;
    width: 550px;
    text-align: left;
    border-bottom: 0.3px solid #7f7c7c;
}

.feed-input-text {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    outline: none;
    color: #fff;
}

.feed-input-text[type=text]:focus {
    border:none;
}

.feed-tweet {
    font-size: 16px;
    width: 100px;
    padding: 8px;
    border-radius: 50px;
    color: #fff;
    background-color: #1da1f2;
    margin-top: -10px;
    cursor: pointer;
}

.feed-upload {
    margin: 50px 10px 7px;
    display: flex;
    justify-content: space-between;
}