.leftbar {  
    margin : 50px 10px; 
    /* position: fixed;
    top: 0;
    z-index:10; */
}

.twitter-icon {
    margin-left: -130px;
    /* margin-bottom: 20px; */
}

.leftbar-icons {
  display: flex;
  margin: 30px;
}

.leftbar-icons>p {
    margin: -3px 13px;
}

.leftbar-profile {
    display: flex;
    position: absolute;
    margin-top: 120%;
    display: flex;
 
}

.leftbar-profile-img {
    /* width: 50px;
    height: 50px;
    font-size: 50px; */
    margin-right: 5px;
}

.leftbar-user-details>p {
    margin-top: -10px;
    font-size: 1rem;
}

.leftbar-tweet-button {
    width: 230px;
    padding: 12px;
    border-radius: 50px;
    color: #fff;
    background-color: #1da1f2;
    cursor: pointer;
}

.button-short-text {
    display: none;
}

.leftbar-icon-name {
    font-size: 1.3rem;
}

.leftbar-user-details>p {
    font-size: 1.2rem;
}

.leftbar-user-profile-name {
    font-size: 0.9rem;
    color: rgb(102, 102, 102);
}

@media (max-width: 1420px) {

    .leftbar {
        margin: 10px;
    }
    .leftbar-icon-name {
       display: none;
    }

    .leftbar-tweet-button {
        margin: 20px;
        width: 55px;
        height: 55px;
        /* display: none; */
    }

    .leftbar-profile {
      display: none;
    }

    .button-short-text {
        display: block;
        font-size: 1.3rem;
    }
    .button-full-text {
        display: none;
    }
  }

  @media (max-width: 860px) {
    
    .leftbar {
        position: static;
        display: flex;
        justify-content: center;
        height: 100px;
        margin:0;
    }
}
    
    