.rightbar-box {
    display: flex;
    flex-direction: column;
    margin: 50px 40px 0 5px ;
    border: 2px solid rgb(28, 27, 27);
    border-radius: 20px;
    /* height: 90%; */
    width: 270px;
    position: sticky;
    top: 20;
    right: 0;
    /* height: 200px; */
    font-style: italic;
    position: sticky;
    top: 0;
}

.rightbar-h3 {
    margin-left: 10px;
}

.news {
    min-width: 90%;
    margin: 10px;
    line-height: 2;
}

@media (max-width: 860px) {
    .rightbar-box {
        display: none;
    }
}

